
   body{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* background-image: url("./assets/Ritesh.jpg");
   background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center; */
}


/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
   /* Styles for mobile devices go here */
 }
 
 /* Tablets and small laptops */
 @media only screen and (min-width: 768px) and (max-width: 991px) {
   /* Styles for tablets and small laptops go here */
 }
 
 /* Standard laptops and desktops */
 @media only screen and (min-width: 992px) and (max-width: 1199px) {
   /* Styles for laptops and desktops go here */
 }
 
 /* Large screens and high-resolution displays */
 @media only screen and (min-width: 1200px) {
   /* Styles for large screens go here */
 }
 
